$col1:#1d163f; 
$col2:#009f7b;

body{
    background-image: url('/img/bookshop.jpg');
    background-size:center;
}

label{ color:$col1; }

.intro{
    background-color:$col1;
    color:white;
    text-align:center;
    margin-bottom:0;
    font-weight: bold;
}

.content{
    display:flex;
    flex-direction:column;
    margin:2em;
    background-color: #ffffffbe;
}

.form-container{
    display:flex;
    justify-content:center;    
}

.btn-primary{
    background-color: $col2;
    border-color:$col2;
}

.logo{
    text-align:center;
    & img {
    width: 10rem;
    padding: 10px;
    margin:10px;
    }
}